* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #e53937;
  border-radius: 10px;
}
html::-webkit-scrollbar {
  width: 10px;
}

/* Navbar Start */
#navbar {
  background: transparent;
  padding: 0px 9% 0px;
}
#logo img {
  width: 70px;
  margin-top: 3px;
}
.nav-item .nav-link {
  color: black;
  font-size: 16px;
  font-weight: 550;
  transition: 0.5s;
}
.nav-item .nav-link:hover {
  color: #e53937;
}
#nvabar input {
  border-radius: 50px;
}
#btn {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #e53937;
  background: transparent;
  transition: 0.5s;
}
#btn:hover {
  background: #e53937;
  color: white;
}
/* Navbar End */

/* Home Section Start */
.home {
  width: 100%;
  height: 100vh;
  padding: 5px 11% 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}
.home .img {
  flex: 1 1 300px;
}
.home .img img {
  width: 80%;
  margin-left: 60px;
}
.home-content {
  flex: 1 1 400px;
  margin-top: 30px;
}
.home-content h3 {
  font-size: 40px;
  font-weight: 700;
}
.home-content h3 span {
  color: #e53937;
}
#home-btn {
  padding: 10px;
  text-decoration: none;
  background: #e53937;
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 873px) {
  .home .img img {
    margin-left: 0px;
  }
}
/* Home Section End */

.menu {
  padding: 50px 11% 50px;
  cursor: pointer;
  width: 100%;
  height: 100vh;
}
.menu h3 {
  text-align: center;
  color: #e53937;
}
.menu h2 {
  text-align: center;
  color: black;
  font-weight: 600;
}
.menu h2 i {
  color: #e53937;
}
.menu h6 {
  font-size: 16px;
}
.rating i {
  color: orange;
  font-size: 13px;
}
.menu p {
  margin-top: 5px;
  font-weight: bold;
}
.menu p i {
  float: right;
  color: #e53937;
  cursor: pointer;
}
/* Our Menu End */

/* Footer Start */
#footer {
  padding: 15px 11% 15px;
}
#footer .f-content {
  text-align: center;
}
.f-logo img {
  width: 250px;
  cursor: pointer;
}
.f-content i {
  font-size: 18px;
  color: black;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.f-content i:hover {
  background: #e53937;
  color: white;
  border-radius: 5px;
}
.c-content {
  text-align: center;
}
.c-content span a {
  text-decoration: none;
  color: #e53937;
}
/* Footer End */
/* modal  */
.menu1 {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.menu1.show {
  pointer-events: auto;
  opacity: 1;
}
.steps {
  background-color: #fff;
  width: 700px;
  height: 870px;
  max-width: 100%;
  border-radius: 5px;
  padding: 20px 50px;
}
.details {
  font-size: 15px;
}
.step-desc {
  font-size: 12px;
  padding: 0 15px;
}
.btn-close {
  top: 6%;
  right: 35%;
  position: fixed;
}
.requirement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.requirement .title {
  color: #e53937;
}
.num {
  color: #e53937;
}
.menu-card {
  display: flex;
  justify-content: center;
  height: 400px;
}
